

.container{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 1;
}
.container > * {
    flex-basis:500px;
}
@media (max-width:300px){
.container{
    display:block;
    flex-direction: column;
}
}